.class-container {
    width: 350px;
    border: 3px solid rgb(11, 169, 11);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.464);
    margin: 20px 0px;
}

.class-container table {
    table-layout: fixed;
    width: 100%;
    padding: 10px;
}

#delete-class, #edit-class {
    text-align: right;
    padding-right: 10px;
    width: 5%;
}

#edit-class {
    font-size: 18px;
}

#delete-class:hover {
    color: red;
}

#edit-class:hover {
    color: #5fa8d3;
}

#class-header {
    font-weight: 600;
}