.signin-container {
    width:40%;
    margin: 50px auto;
}

.signin-container > p {
    font-size: 40px;
}

.signin-form {
    font-size: 20px;
}

.signin-form input {
    border-radius: 15px;
}

#signin-button {
    margin: 20px auto;
    width: 100%;
    background-color: #1B4965;
    border-style: none;
    padding: 20px 60px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
}

#signin-button:hover {
    background-color: #5FA8D3;
}

#signup-lnk {
    font-size: 20px;
    text-align: center;
}

#signup-lnk a {
    color: #78ACC1;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #78acc1;
}