.header {
    background-color: #bad6e4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    font-family: "Cambria";
    margin-right: 30px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

#logo:visited {
    text-decoration: none;
    color: black;
}

.header-left p {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#login-btn {
    background-color: white;
    color: black;
    border-style: none;
    padding: 10px 20px;
    border-radius: 30px;
}

#login-btn:hover {
    background-color: #1b4965;
}

#login-link {
    font-family: "Cambria";
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;;
    align-items: center;
}

#login-link:hover {
    color: white;
}

#login-link:visited {
    text-decoration: none;
}

.header-left {
    margin-left: 100px;
}

.header-right {
    margin-right: 100px;
}