.signup-container {
    display: flex;
    flex-direction: row;
}

.signup-left {
    width: 50%;
}

.signup-right {
    width: 50%;
}

#signup-stock-photo {
    width: 100%;
}

#signup-title {
    font-size: 32px;
    font-weight: 300;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.signup-form input {
    width: 330px;
    height: 30px;
    border-radius: 15px;
}

#first-name, #last-name, #email, #password {
    margin: 12px 0px;
    padding-left: 30px;
    height: 40px;
    border: 1px rgb(149, 148, 148) solid;
}

#signup-button {
    margin: 20px auto;
    width: 370px;
    background-color: #1B4965;
    border-style: none;
    padding: 20px 60px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
}

#signup-button:hover {
    background-color: #5FA8D3;
}

#signup-section {
    display: flex;
    flex-direction: column;
}

.pw-requirements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 20px;
    font-size: 15px;
}

#pw-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0;
}

#pw-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: 20px;
}

#pw-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 20px;
}

#login-redirect {
    text-align: center;
}

#login-redirect a {
    color: #78ACC1;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #78acc1;
}